<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit form</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <div class="A">
    <h1>your website</h1>
    <h4>id:<%=post.id%></h4>
    <h4>website:<%=post.username%></h4>
    <form>
        <textarea name="username"><%=post.work%></textarea>
        <button>submit</button>
    </form>
    </div>
</body>
</html>