<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new data</title>
</head>
<body>
    <form method="POST" action="/posts">
        <h3>
        <input type="text" placeholder="enter id"name="id">
        <br><br>
        <input type="text" placeholder="enter website"name="username">
        <br><br>
        <input type="text" placeholder="work" name="work">
        <br><br>
        <button>submit post</button>
        </h3>
    </form>
    
</body>
</html>